.container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    background-color: #dc2a2a;
}

@media (min-width:1024px){
    .container{
        background-color: #28ade2;
    }
}